<div class="flex w-full h-4/5">
  <div class="w-2/4">
    <%= render(TaskList::TaskListComponent.new(user: current_user)) %>
  </div>
  <div class="w-2/4">
    <%= render(Pomodoro::PomodoroComponent.new(user: current_user)) %>
    <%= render(Notes::NotesComponent.new(user: current_user)) %>
    <%= render(Niko::NikoNikoComponent.new(user: current_user)) %>
  </div>
</div>
