<div class="flex flex-col mt-2">
    <div class="flex flex-row">
        <%= image_tag 'circles/pending.png', class: "h-8 mr-2" %>
        <h5 class="self-center">Hacer cosas</h5>
    </div>
    <hr class="rounded border-2 border-sky-400">
</div>
