<div class="p-5 h-1/4 w-full">
    <div class="bg-white h-full w-full rounded-3xl drop-shadow-2xl px-5 flex flex-col place-content-center">
            <div class="text-center text-6xl">
                <h2>
                    45:00
                </h2>
            </div>
            <div class="flex flex-row w-full place-content-center">
            <%= image_tag 'controls/again.png', class: "h-8 mx-2" %>
            <%= image_tag 'controls/play.png', class: "h-8 mx-2" %>
            <%= image_tag 'controls/stop.png', class: "h-8 mx-2" %>
            </div>
    </div>
</div>
