/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
    font-family: Montserrat, sans-serif;
    background-color: rgb(228 228 231);
    width: 100%;
    height: 100%;
}

body{
    background: transparent;
    width: 100%;
    height: 100%;
}


.bg-underline1{
    background-image: url('./assets/decorations/Underline1.svg');
}

.bg-underline2{
    background-image: url('./assets/decorations/Underline2.svg');
}

.bg-underline3{
    background-image: url('./assets/decorations/Underline3.svg');
}

.bg-underline4{
    background-image: url('./assets/decorations/Underline4.svg');
}

.bg-highlight3{
    background-image: url('./assets/decorations/Highlight3.svg');
}


.secondaryTitle {
    background-position: center bottom;
    background-repeat: no-repeat;
    font-family: PT Serif, serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.font-pt-serif{
    font-family: PT Serif, serif;
}

.font-montserrat{
    font-family: Montserrat, sans-serif;
}